[buildout]
develop = .
parts = test
versions = versions

[versions]
cryptography = 2.0.3

[test]
recipe = zc.recipe.egg
initialization =
    import sys
    if not sys.argv[1:]: sys.argv.append('src')
    sys.argv.append('--doctest-modules')
eggs =
    pytest
    cromlech.jwt
